html { font-family: sans-serif; text-align: center; background-color: rgb(0, 0, 0);}
body { display: inline-flex; flex-direction: column;overflow: hidden; }
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  left: 20%;
}
table {
  width: 80%; /* Set the width of the table to 80% of the container */
  border-collapse: collapse;
  color: white;
  font-size: 110%;
}
table, th, td {
  border: 1px solid rgb(174, 174, 174);
  padding: 2%; /* Use percentage-based padding for cells */
}
th {
  background-color: #222;
}
#unit-title{
  color: #fff;
  left: 2%;
  top: 2%;
}

canvas { border: 1px solid #ccc; display: block; }

#config-menu{
  position: absolute;
  width: 29.5%;
  height: 70%;
  border-radius: 5px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  left: 0.5%;
  top: 0%;
  background-color: rgb(35, 35, 35);
}
#terminal-area{
  position: absolute;
  width: 29.5%;
  height: 28.5%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  left: 0.5%;
  top: 70.5%;
  background-color: rgb(35, 35, 35);
}
#attitude-ind-area{
  position: absolute;
  width: 34%;
  height: 48%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  left: 30.5%;
  top: 0%;
  background-color: rgb(35, 35, 35);
}
#map-ind-area{
  position: absolute;
  width: 34%;
  height: 48%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  left:65%;
  top: 0%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
#stats-menu{
  position: absolute;
  width: 50.5%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  left:30.5%;
  top: 49%;
  background-color: rgb(35, 35, 35);
}

#data-area{
  position: absolute;
  width: 18%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  left:81.5%;
  top: 49%;
  background-color: rgb(35, 35, 35);
  
}
#HIVE-IMG{
  position: absolute;
  width: 80%;
  height:30%;
  left:10%;
  top:15%;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#HIVE-PIC{
  position: absolute;
  width: 200%;
  height:180%;
  left: -57%;
  top:-50%;
  object-fit: contain;
  border-radius: 15px;
  z-index: 5000;
  overflow: hidden;
  z-index: 50;
}
#DRONE-STATE{
  position: absolute;
  width: 30%;
  height:10%;
  left:35%;
  top:50%;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #fff;
}
#terminal-panel{
  position: absolute;
  width: 90%;
  height:80%;
  left:5%;
  top:10%;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border-style: none;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);

}
#Raw-Data{
  color: #fff;
  padding-bottom: 10%;
}
#Config{
  position: absolute;
  width: 80%;
  height:30%;
  left:10%;
  top:65%;
  background-color: rgb(35, 35, 35);
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#config-title{
  color: #fff;
}

#AltGraphTitle{
  position: absolute;
  width: 10%;
  height:5%;
  left:45%;
  top:7%;
  color: #ffffff;
  z-index: 1000;
  font-weight: bolder;
}

/* Add a black background color to the top navigation */
  .topnav {
  background-color: #333;
  overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: #04AA6D;
  color: white;
  }

  .topnav a.nonactive {
    background-color: #333;
    color: white;
  }

  #actions-menu{
      position: absolute;
      width:96%;
      height:85%;
      background-color: rgb(35, 35, 35);
      left:2%;
      top:12%;
      z-index: 100;
      
  }

  #opt-menu{
      position: absolute;
      width:48%;
      height:100%;
      left:0%;
      top:0%;
      z-index: 100;
      border-width: 1px;
      border-style: solid;
  }

  #configSWP{
      position: absolute;
      width:50%;
      height:100%;
      left:50%;
      top:0%;
      z-index: 100;
      border-width: 1px;
      border-style: solid;
  }
  
  #SWP-menuitem{
      position: absolute;
      width: 70%;
      height:11.5%;
      left:15%;
      top:5%;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
      color: rgb(0, 0, 0);
      text-align: center;
      font-size:medium;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #ddd;
  }

  #MWP-menuitem{
      position: absolute;
      width: 70%;
      height:11.5%;
      left:15%;
      top:20%;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
      color: rgb(0, 0, 0);
      text-align: center;
      font-size:medium;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #ddd;
  }

  #VehicleConfig{
      position: absolute;
      width: 70%;
      height:11.5%;
      left:15%;
      top:35%;
      color: rgb(0, 0, 0);
      text-align: center;
      font-size:medium;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #ddd;
  }

  .numField{
      position: absolute;
      width: 30%;
      height:10%;
  }

  #LAT-f{
      left:15%;
      top:5%;
      background-color: #000000;
      color: #ffffff;
      border-style: none;
  }
  #LAT-set{
      position: absolute;
      width: 40%;
      height:11.5%;
      left:46%;
      top:5%;
  }

  #LNG-f{
      left:15%;
      top:25%;
      background-color: #000000;
      color: #ffffff;
      border-style: none;
  }
  #LNG-set{
      position: absolute;
      width: 40%;
      height:11.5%;
      left:46%;
      top:25%;
  }

  #ALT-f{
      position: absolute;
      width: 30%;
      height:10%;
      left:15%;
      top:45%;
      background-color: #000000;
      color: #ffffff;
      border-style: none;
  }
  #Alt-set{
      position: absolute;
      width: 40%;
      height:11.5%;
      left:46%;
      top:45%;
  }

  .terminal {
  width: 95%;
  height: 95%;
  border: 0.5px solid #fff;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  background-color: #000;
}

#output {
white-space: pre-wrap;
  overflow-y: scroll;
  height: calc(100% - 35px); /* Adjust the height to leave space for the input field */
  margin: 0;
  padding: 0; /* Remove default padding */
  border-bottom: 1px solid #fff;
  text-align: left; /* Set text alignment to left */
  color: #fff;
  font-size:large;
}
/* New CSS style for menu options */
.menu-options {
display: grid;
grid-template-columns: 1fr 1fr; /* Two equal columns */
gap: 5px; /* Gap between grid items */
text-align: center; /* Center the text within the grid items */
}

/* Style the scrollbar for Webkit (Chrome, Safari, Edge) */
#output::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

#output::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the thumb */
}

#output::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Set the color of the scrollbar thumb on hover */
}

/* Style the scrollbar for Firefox */
#output::-moz-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

#output::-moz-scrollbar-thumb {
  background-color: #ffffff; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the thumb */
}

#output::-moz-scrollbar-thumb:hover {
  background-color: #ffffff; /* Set the color of the scrollbar thumb on hover */
}


#input {
  width: 100%;
  height:10%;
  margin-bottom: 0%;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: #000000;

  font-size: 16px;
}
/* Style for the text label */
/* WING */
#label1 {
  position: absolute;
  top:20%;
  left: 17%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}
/* WING */
#label2 {
  position: absolute;
  top:19%;
  left: 85%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}
/* WING */
#label3 {
  position: absolute;
  top:52%;
  left: 17%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}
/* WING */
#label4 {
  position: absolute;
  top:52%;
  left: 85%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}
/* BATTERY */
#label5 {
  position: absolute;
  top:80%;
  left: 17%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #15ff00;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}
/* CAM BOOT */
#label6 {
  position: absolute;
  top:90%;
  left: 17%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #2bd41c;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
  border-style: solid;
}
/* THROTTLE */
#label8 {
  position: absolute;
  top:90%;
  left: 70%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #15ff00;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}
#label7 {
  position: absolute;
  top:33%;
  left: 70%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #c91414;
  padding: 5px;
  border-style: solid;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}

#label9 {
  position: absolute;
  top:5%;
  left: 15%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #c91414;
  padding: 5px;
  border-style: solid;
  border-radius: 3px;
  font-size: 10px;
  z-index: 100;
  font-weight: bolder;
}

#label10{
position: absolute;
  top:80%;
  left: 66%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #15ff00;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  z-index: 100;
  font-weight: bolder;
}

#AltCanvas {
position: absolute;
top: 1%;
left: 1.5%;
width: 100%;
height: 100%;
z-index: 500;
background-color: #000;
}

#initStat-menu {
  position: relative;
  width: 97%;
  height: 85%;
}

#MV-Button{
position: absolute;
top: 30%;
left: 65%;
z-index: 500;
width: 30%;
height: 60%;
background-color: rgb(0, 0, 0);
border-radius: 15px;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
color: #fff;
font-weight: bolder;
border-style: none;
}
#MV-Button:hover{
background-color: rgb(255, 255, 255);
color: #000;
}

#VHSN{
position: absolute;
top: 25%;
left: 5%;
color:#fff;
font-weight: 400;
font-size: small;
}

#VHTME{
position: absolute;
top: 40%;
left: 5%;
color:#fff;
font-weight: 400;
font-size: small;
}

#TATemp{
position: absolute;
top: 65%;
left: 5%;
width:25%;
height:25%;
color:#fff;
font-weight: 400;
font-size: small;
border-style: solid;
border-radius: 5px;
border-color: #ccc;
}

#TAPressure{
position: absolute;
top: 65%;
left: 37.5%;
width:25%;
height:25%;
color:#fff;
font-weight: 400;
font-size: small;
border-style: solid;
border-radius: 5px;
border-color: #ccc;
}

#TAvar{
position: absolute;
top: 65%;
left: 70%;
width:25%;
height:25%;
color:#ffffff;
font-weight: 400;
font-size: small;
border-style: solid;
border-radius: 5px;
border-color: #ccc;
}

#PayloadStat{
position: absolute;
top: 9%;
left:30%;
width:40%;
height:20%;
color: #15ff00;
font-weight: bolder;
font-size: medium;
}

#Tline{
position: absolute;
top: 35%;
left:17.5%;
width: 64.25%;
}

#VL1{
border-left: 1px solid rgb(255, 255, 255);
height: 20%;
position: absolute;
left: 17.5%;
top: 40%;
}

#VL2{
border-left: 1px solid rgb(255, 255, 255);
height: 20%;
position: absolute;
left: 50%;
top: 40%;
}

#VL3{
border-left: 1px solid rgb(255, 255, 255);
height: 20%;
position: absolute;
left: 82.5%;
margin-left: -3px;
top: 40%;

}

#VL4{
border-left: 1px solid rgb(255, 255, 255);
height: 20%;
position: absolute;
left: 50%;
top: 20%;
}

#BPnotification{
position: absolute;
z-index: 1000;
width: 20%;
height: 30%;
background: #4e4e4e;
border-radius: 15px;
margin-left: 22%;
margin-top: 5%;
visibility: hidden;
transition: all 0.1s ease;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#BPnotification-button {
width: 50%;
height: 30%;
border-radius: 20px;
margin-top: 50%;
margin-left: 0%;
border-width: 0pt;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
background: #000000;
color: #fff;
font-size: large;
font-weight: bolder;
}
#BPnotification-button:hover{
background-color: rgb(255, 255, 255);
color: #000;
}

#BP-text{
position: absolute;
color:#fff;
margin-bottom: 0%;
width:80%;
left:10%;
top:10%;
}

#initStat-menu{
  visibility:visible;
}

#mainTelem-menu{
  visibility: hidden;
}

#actions-menu{
  visibility: hidden;
}

#emi-menu{
  visibility: hidden;
}

#emi-mpopup{
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 500;
  width: 30%;
  height: 70%;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bolder;
  font-size: larger;
  border-style: none;
  }
  #emi-mpopup:hover{
  background-color: rgb(255, 255, 255);
  color: #000;
  }

  #ECV-menu{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1100;
    width: 80%;
    height: 80%;
    background-color: rgb(22, 21, 21);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }

  #ECV-menu-close{
    position: absolute;
    width: 1%;
    height: 1%;
    border-radius: 40px;
    padding: 2%;
    left: 93%;
    top: 3%;
    border-width: 0pt;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ECV-menu-close:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }

  #ECV-PIC{
    position: absolute;
    top: 15%;
    left:24%;
  }

  #controller-status{
    position: absolute;
    top: 70%;
    left: 40%;
    color: #fff;
  }

  #response-status{
    position: absolute;
    top: 80%;
    left: 43%;
    color: #fff;
    font-weight: lighter;
  }

  #emi-title{
    position:absolute;
    top: 15%;
    left: 45%;
    color: #fff;
  }

  #emi-version{
    position: absolute;
    top: 25%;
    left: 57%;
    color: #fff;
  }

  #controller-stat-check{
    position: absolute;
    top: 47%;
    left: 53%;
    color: #fff;
  }

  #emi-loading{
    position: absolute;
    top: 60%;
    left: 60%;
    width: 20%;
    height: 20%;
  }

  #supdater-subMenu{
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 500;
    width: 48%;
    height: 48%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bolder;
    font-size: larger;
    border-style: none;
  }

  #subMenu2{
    position: absolute;
    top: 2%;
    left: 51%;
    z-index: 500;
    width: 48%;
    height: 48%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bolder;
    font-size: larger;
    border-style: none;
  }

  #subMenu3{
    position: absolute;
    top: 53%;
    left: 1%;
    z-index: 500;
    width: 48%;
    height: 48%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bolder;
    font-size: larger;
    border-style: none;
  }

  #subMenu4{
    position: absolute;
    top: 53%;
    left: 51%;
    z-index: 500;
    width: 48%;
    height: 48%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bolder;
    font-size: larger;
    border-style: none;
  }
  
  #controller-screen1-connected{
    position: absolute;
    top: 45%;
    left: 43%;
    z-index: 500;
    width: 48%;
    height: 48%;
    color: #fff;
    visibility: hidden;
  }

  #left-stick{
    position: absolute;
    top: 36.5%;
    left: -10%;
    z-index: 500;
    width: 48%;
    height: 48%;
    color: #fff;
  }

  #lstick-line{
    position: absolute;
    top: 36.5%;
    left: 21%;
    z-index: 500;
    width: 25%;
    color: #fff;
  }

  #right-stick{
    position: absolute;
    top: 36.5%;
    left: 65%;
    z-index: 500;
    width: 48%;
    height: 48%;
    color: #fff;
  }

  #rstick-line{
    position: absolute;
    top: 36.5%;
    left: 56.5%;
    z-index: 500;
    width: 25%;
    color: #fff;
  }

  #right-trigger{
    position: absolute;
    top: 22%;
    left: 65%;
    z-index: 500;
    width: 48%;
    height: 48%;
    color: #fff;
  }

  #rtrigger-line{
    position: absolute;
    top: 22%;
    left: 65%;
    z-index: 500;
    width: 16.5%;
    color: #fff;
  }